<div>

    <div class="card" style="border-radius: 25px;">
  
      <div class="card-body p-5">
        <form name="createpost" (ngSubmit)="createpost()">
          
          <br />
          <br />
          <br />
          <div class="form-outline mb-4">
            <label class="form-label" >Title</label>
            <input   type="text" id="form3Example1"class="form-control form-control-lg" [(ngModel)]="item.PostTitle" name="title">
            
  
          </div>
          <div class="form-outline mb-4">
            <label class="form-label" >Description</label>
            <input type="text" id="form3Example2" class="form-control form-control-lg" [(ngModel)]="item.Description" name="description">
  
          </div>
  
          <div class="form-outline mb-4">
            <label class="form-label" >Image</label>
            <input type="text" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="item.Image" name="image">
  
          </div>

          <div class="form-outline mb-4">
            <label class="form-label" >Tag</label>
            <input type="text" id="form3Example3" class="form-control form-control-lg" [(ngModel)]="item.Tag" name="tag">
  
          </div>

          <div style="width:60px;">
            <div style="float: left; width: 60px">
              <button type="submit" class="btn btn-primary btn-block"  >Submit</button>
            </div>
          </div>

          

        </form>
  
      </div>
  
     
  </div>
      </div>